@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=STIX+Two+Math&display=swap');
:root {
    --main-text-font: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1024px;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap; 
}
header{
    background-image:url("image/img-002.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw ;
    height: 100vh;
    position: relative;
}
.bg-image{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
.top{
    position:absolute ;
    width: 100%;
    z-index: 1;
}
.header-top{
    justify-content:center ;
    padding:12px 0 ;
}
.header-top ul{
    display: flex;
}
.header-top ul li{
    margin-left: 30px; 
    margin-right: auto;
    position: relative; 
}
.header-top ul li::after{
    position: absolute;
    content: "";
    display: block;
    bottom: -2px;
    height:3px ;
    width: 0%;
    left: 50%;
    transform:translateX(-50%) ;
    background-color: cornflowerblue;
    transition: all 0.5s ease;
}
.header-top ul li:hover::after{
    width: 100%;
}
.header-top ul li a{
    font-family:var(--main-text-font) ;
    color: white;
} 
.header-top ul i{
    font-size: 32px;
    color:red;
    margin: 12px 0 0 12px;
    cursor: pointer;
    margin-bottom: 150px;
    display: none;
}
.header-top> i {
    font-size: 32px;
    color: cornflowerblue;
    cursor: pointer;
    display: none;
}
.header-text{
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    text-align:center;
}
.header-text h1{
    font-family: var(--main-text-font);
    color: cornflowerblue;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 30px;
}
.header-text p{
    font-family: var(--main-text-font);
    font-size: 20px;
    color:white;
}
@media (max-width:575px) {
    .header-top ul{
        position: fixed;
        width: 200px;
        height: 100vh;
        background-color:cornflowerblue ;
        right: 0;
        top:0;
        flex-direction: column;
        transform: translateX(100%);
        opacity: 0;
        transition:all 0.5s ease;
    }
    .header-top ul li{
        margin-bottom: 20px;
        margin-left: 40px;
    }
    .header-top>i{
        display: block;
    }
    .header-top ul >i{
        display: block;
    }
    .career h1{
        width: 100%;
    }
    .career-item{
        width: 80%;
    }
    .container-item{
       width: 100%;
    }
    .container-item button{
        text-align: center;
        top:50%;
        left: 50%;
    }
    .container-item h2{
        width: 100%;
    }
    .container-item p{
        width: 100%;
    }
    .address{
        width: 100%;
        margin-top: 250px;
    }
}

/*--------Career--------*/
.career{
    padding: 50px 0;
}
.career h1{
    font-family: var(--main-text-font);
    text-align: center;
    margin-bottom: 30px;
    color: black;
    font-size: 30px;
}
.career-items> i{
    margin-top: 30px;
}
.career-items{
    justify-content:space-between;
}
.career-item{
    width: 33%;
    text-align: center;
    background-color: white;
    padding: 20px 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 0.5s ease;
}
.career-item:hover{
    box-shadow:2px 2px 1px 1px cornflowerblue ;
}
.career-item h2{
    font-family: var(--main-text-font);
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    color: black;
    
}
.career-item p{
    margin-top: 30px;
    font-family: var(--main-text-font);
    text-align: justify;
}
/*------Containers--------*/
.containers-items{
    padding: 50px 0;
    background-color:white;
    display: flex;
    height: 400px;
}
.container-item{
    width: 55%;
    padding-left: 20px;
    text-align: center;
}
.left{
    flex: 1;
    background-image: url(image/containers1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right{
    flex:1;
    padding: 100px 12px 0 12px;   
}
button{
    height: 40px;
    width: 150px;
    border: none;
    background-color:cornflowerblue;
    border-radius: 20px;
    cursor: pointer;
    margin-top:40% ;
    margin-left: 10%;
}
.h2{
    padding-top: 20px;
    color: black;
    font-size: 35px;
}
.p{
    color: darkgray;
    margin-top: 30px;
}
/*------Address---------*/
.address{
    width: 100%;
    height: 100%;
    padding-top: 30px; 
    display: flex; 
    align-items: center;
    flex-direction: row;
}
/*-------Map------*/
.map{
    width: 100%;
    height: 400px;
}