.container {
    background: url(../img/banner-Careers.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 85vh;
    position: relative;
}
.header-text{
    position: absolute;
    display: flex;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
    width: 100%;
    height: 23%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-text h1{
    font-family: var(--main-text-font);
    color: #18DDFC;
    font-weight: bold;
    font-size: 90px;
    margin-bottom: 30px;
}

.header-text p{
    width: 60%;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
    margin: 0;
}

/*---------Booking-------*/
.row {
    overflow: hidden;
}

.container_grid {
    padding: 110px 0;
}

.booking-item{
    height: 100%;
    transition: all 0.5s ease;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.booking-item .image {
    width: 100%;
    padding-top: 68%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition:all 0.3s ease;
    overflow: hidden;
}

.booking-item .image:hover{
    transform: scale(1.05);
}

.booking-item h2{
    font-size: 20px;
    padding-top: 15px;
    font-family: var(--main-text-font);
    color: #48a9fe;
    text-align: center;
    opacity: 1;
    cursor: pointer;
}

.booking-item h2:hover {
    color: #000;
}

.booking-item p{
    font-size: 20px;
    padding-top: 12px;
    line-height: 1.4;
    font-family: var(--main-text-font);
    color: black;
    text-align: center;
    cursor: pointer;
}

.booking-item p:hover {
    color: #48a9fe;
}

.menuBtn, .editmenu,
.exitMenu, .editBtn {
    display: none;
}
/*-------Map------*/
.map__nestera {
    height: 450px;
}

.copyright {
    display: flex;
    height: 48px;
    background-color: #00000e;
    color: rgba(255, 255, 255, 0.562);
}

.copyright span {
    font-size: 1.44rem;
    margin: auto;
}

@media (max-width:575px) {
    .header-text h1{
        width: 100%;
        font-size: 50px;
    }
    .header-text p{
        width: 80% ;
        margin: auto;
        text-align: center;
     }

}

/* @media (min-width: 730px) and (max-width: 1006px) {
    .booking-item {
        height: 450px;
    }
}

@media (min-width: 440px) and (max-width: 729px) {
    .booking-item {
        height: 400px;
    }
} */