* {
    margin: 0;
    box-sizing: inherit;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input, button {
    outline: none;
    width: 100%;
    height: 30px;
    padding-left: 6px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

button {
    display: block;
    width: 100%;
    color: #000;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    opacity: 0.7;
}

.container {
    background-color: #07162C;
    width: 100%;
    height: 100vh;
    display: flex;
}

.container_login {
    display: flex;
    margin: auto;
    background-color: #ffffffbe;
    height: 250px;
    width: 500px;
    border-radius: 5px;
}

.login {
    width: 90%;
    margin: auto;
}

.login span {
    height: 30px;
    line-height: 30px;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    text-transform: uppercase;
}

.container_input {
    display: flex;
    padding: 20px 0;
}

.logo {
    margin-right: 10px;
}

.user {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.username_frame {
    display: flex;
}

.icon {
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 30px;
}